.body{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #000000;
  font-size: 10px;
}
.body-wrapper{
  overflow: hidden;
  width: 100%;
  position: relative;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a,a:hover,a:focus{
  text-decoration: none;
  outline: none;
  color: black;
}
img {
  max-width: 100%;
  display: block;
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container{
  width: 75%;
  display: flex;
  align-items: center;
  padding:0;
  background-color: #202026;
}
.header-content{
  width: 80%;
}
.header-photo{
  width: 30rem;
}
.header__burger-btn{
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
  z-index: 3;
}
.header__burger{
  position: absolute;
  top: 0;
  right: 0;
}
.header__burger-btn:hover span{
  background-color: #ffffff;
}
.header__burger-btn span{
  position: absolute;
  width: 30px;
  height: 3px;
  left: 5px;
  background-color: #000000;
  transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
  will-change: transform;

}
.header__burger-btn span:first-child{
  transform: translateY(-10px);

}
.header__burger-btn span:last-child{
  transform: translateY(10px);
}
.header.open .header__burger-btn span:first-child{
  transform: translateY(0px) rotate(45deg);

}
.header.open .header__burger-btn span:nth-child(2){
  opacity: 0;

}
.header.open .header__burger-btn span:last-child{
  transform: translateY(0px) rotate(-45deg);

}
.menu{
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  gap:50px;
  background-color: #fecb00;
  padding: 7px 40px 7px 5px ;
}
.menu__link{
  transition: color 0.5s;
  position: relative;
}
.menu__link::before{
  content: "";
  width: 0%;
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: white;
  transition: width 0.5s ease-in-out;
}
.menu__link:hover::before{
  width: 100%;
}
.menu__link:hover{
  color: #ffffff;
}
.header-info{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fecb00;
  padding: 20px 40px 20px 5px;
}
.header-info__fio{
  font-size: 4rem;
  margin: 0;
  font-weight: 600;
}
.header-info_work{
  font-size: 3rem;
}
@media (max-width: 1087px) {
  .container{
    width: 85%;
  }
  .header-content{
    display: flex;
    flex-direction: column-reverse;
  }
  .menu{
    margin-top: 50px;
    padding: 7px 0px 7px 0px;
    gap: 25px;
    justify-content: center;
  }
  .header-info{
    margin-top: 0;
    background-color: #202026;
    color: white;
    align-items: center;
    padding: 20px 0px 20px 0px;
    align-items: center;
  }
  .header-info__fio{
    font-size: 3.5rem;
    text-align: center;
  }
  .header-info_work{
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 750px) {
  .container{
    width: 100%;
  }
  .menu{
    position: absolute;
    right: -150px;
    top: 0;
    width: 150px;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    transition: transform 0.3s, visibility 0.3s;
    margin-top: 0;
    padding-top: 30px;
  }
  .header.open .menu{
    transform: translateX(-100%);
    visibility: visible;
  }
  .header__burger-btn{
    display:block;
    align-self: flex-end;
  }
  .header-content{
    flex-direction: column;
  }

  
}
@media (max-width: 500px) {
  .header-info__fio{
    font-size: 3rem;

  }
  .header-info_work{
    font-size: 2rem;

  }
}
@media (max-width: 395px) {
  .header-info__fio{
    font-size: 2.5rem;

  }
  .header-info{
    padding-top: 49px;
    padding-bottom: 49px;
  }
}